body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 4rem;
}

.control-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-container svg {
  padding-right: 1rem;
  margin-left: 1rem;
  margin-top: -5px;
}

.search-container {
  margin: 0 auto;
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dfdddd;
  width: 575px;
  height: 32px;
  margin-top: 2rem;
  padding: 8px;
  border-radius: 12px;
}

.search-input {
  width: 575px;
  border: none;
  background-color: #dfdddd;
}

.search-btn {
    border: none;
    background-color: transparent;
}

.search-btn:hover {
    cursor: pointer;
}

input:focus {
  outline: none;
}

.search-label {
  margin: 0 8px 0 8px;
}
