.definition-footer {
  margin-bottom: 1rem;
}

.source {
  width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.source-label {
  text-decoration: underline;
  color: var(--color-grey-300);
}

.source p {
  margin-right: 8px;
}

.source-overflow {
  word-break: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}


.line-divider {
  width: 340px;
  height: 1px;
  background-color: var(--color-grey-300);
  margin-bottom: 1rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .source {
    width: 580px;
  }

  .line-divider {
    width: 580px;
  }
}
