.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 2rem;
}

.control-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-container svg {
  padding-right: 1rem;
  margin-left: 1rem;
  margin-top: -5px;
}
