.main {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 0 auto;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .main {
    width: 620px;
  }
}
